.section {
    padding: 0 4rem;
    min-height: 25rem;
    position: relative;
    overflow: hidden;
    &__description {
        margin: 2rem auto 0;
        font-size: 1.2rem;
        opacity: 0;
        transition: opacity 500ms linear;
        @include breakpoint(small) {
            opacity: 1;
        }
    }
    &__content {
        position: absolute;
        width: 70%;
        top: 50%;
        left: 50%;
        transition: all 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: translate(-50%, -20%);
        @include breakpoint(large) {
            transform: translate(-50%, -10%);
        }
        @include breakpoint(small) {
            transform: translate(-50%, -50%);
        }
    }
    @include breakpoint(small) {
        width: 100%;
    }
    cursor: pointer;
    .particles {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    &:hover {
        .particles {
            opacity: 1;
        }
        .section__content {
            transform: translate(-50%, -50%);
        }
        .section__description {
            opacity: 1;
        }
        .uppercase::after {
            width: 100%;
            left: 0px;
        }
    }
}
